uvicorn==0.14.0
python-dotenv
environs~=8.0.0
pytest==7.1.1
pytest-django==4.5.2
py-solc-x
Django==4.1
psycopg2
fastapi-jwt-auth
fastapi==0.78.0
requests
python-multipart==0.0.5
django-query-debugger==0.0.4
django-cors-headers==3.13.0
django_json_widget==1.1.1
Unidecode==1.3.4

Pillow==9.2.0
PyPDF2==2.9.0
redis
pycryptodome
uniswap-python
email-validator==1.1.3

django-redis==4.12.1

aiopg==1.2.1
aioredis==1.3.1

#google
google-api-python-client==2.60.0
oauth2client==4.1.3

xmltodict==0.13.0